.main-registro {
    border-top: solid 3px #CCCCCC;   
}

.div-suscripcion {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: $color-verde;
    border-radius: 10px;
}

.llamado-accion {
    padding-left: 4rem;
}

.llamado-accion__texto {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: $color-blanco;
}

.inscripcion {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    gap: 10rem;
    padding-top: 1rem;
    padding-left: 4rem;
}

.boton-suscripcion {
    background-color: $color-gris;
    color: $color-titulo;
    border-radius: 10px;
    position: relative;
    height: 42px;
    width: 200px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    &:hover {
        background-color: #bb52af;
    }
}